<launch>
    <arg name="model" default="$(find sirius_description)/urdf/sirius/manipulator.urdf.xacro"/>
    <arg name="robot_state_frequency" default="25" />
    <arg name="gazebo_origin" default="[-9.396, 16.082]"/>
    <arg name="spherical_coordinates" default="[50.878009, 20.642403, 144.41]"/>
    <arg name="elevation" default="308.1445"/>
    <arg name="stereo_fps" default="30" />
    <arg name="year" default=""/>
    <arg name="transforms" default=""/>
    <arg name="joint_gui" default="False"/>

    <param name="manipulator_description" command="$(find xacro)/xacro '$(arg model)'" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sirius_description)/config/manip_visualization.rviz"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg joint_gui)">
        <remap from="robot_description" to="manipulator_description"/>
        <remap from="/joint_states" to="/manip_interface/state"/>
    </node>
    <node name="robot_state_publisher_manip" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="robot_description" to="manipulator_description"/>
        <remap from="/joint_states" to="/manip/joint_states"/>
    </node>
    <node name="differential_transmission_tf" pkg="manip_control" type="differential_transmission_tf.py">
        <param name="~first_input_joint" value="wrist_spin" />
        <param name="~second_input_joint" value="wrist_turn" />
        <param name="~first_output_joint" value="wrist_spin" />
        <param name="~second_output_joint" value="wrist_turn" />
        <param name="~first_output_offset" value="1.97855" />
        <param name="~second_output_offset" value="0.42" />
        <remap from="/input_joint_states" to="/manip_interface/state"/>
        <remap from="/output_joint_states" to="/manip/joint_states"/>
    </node>
     <node pkg="tf2_ros" type="static_transform_publisher" name="front_camera_joint_tf"   args="0 0 0.1 0 0 0 front_camera fake"/>
</launch>
