<launch>
    <arg name="markers" default="false"/>
    <include file="$(find sirius_navigation)/launch/odom_sensor_fusion.launch"/>
    <include file="$(find sirius_navigation)/launch/map_sensor_fusion.launch"/>
    <include file="$(find sirius_navigation)/launch/markers_erc.launch" if="$(arg markers)"/>
</launch>