<launch>    
    <arg name="model" default="$(find manip)/urdf/sirius2_manip.urdf.xacro"/>
    <arg name="robot_state_frequency" default="25"  />
    
    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find manip)/config/manip_visualization.rviz"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="visualization_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/manip/joint_states" />
    </node>
</launch>