<launch>    
    <rosparam file="$(find manip)/config/roboszpon_driver.yaml" command="load"/> 
    <node name="manip_roboszpon_driver" pkg="sirius_roboszpon_driver" type="driver.py" output="screen">
      <remap from="/set_joint_states" to="/manip/set_joint_states" />
      <remap from="/joint_states" to="/manip/joint_states" />
      <remap from="/roboszpon_status" to="/manip_roboszpons/status" />
      <remap from="/received_canbus_messages" to="/received_messages" />
      <remap from="/sent_canbus_messages" to="/sent_messages" />
    </node>

    <rosparam file="$(find manip)/config/moteus_driver.yaml" command="load"/> 
    <node name="manip_moteus_driver" pkg="sirius_moteus_driver" type="driver.py" output="screen">
      <remap from="/set_joint_states" to="/manip/set_joint_states" />
      <remap from="/joint_states" to="/manip/joint_states" />
      <remap from="/roboszpon_status" to="/manip_roboszpons/status" />
    </node>
</launch>