<launch>
  <node pkg="sirius_mapping" type="pointcloud_tranformer" name="pointcloud_transformer" output="screen">
    <remap from="/input_pointcloud" to="/slam/pointcloud"/>
    <remap from="/output_pointcloud" to="/front_camera/depth_registered/points_downsampled"/>
  </node>

  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find sirius_mapping)/config/sirius_elevation_mapping.yaml"/>
    <rosparam command="load" file="$(find sirius_mapping)/config/postprocessor_pipeline.yaml"/>
  </node>

  <node 
    name="pose_remap"
    pkg="topic_tools" 
    type="transform" 
    args="/pose /elevation_mapping/pose geometry_msgs/PoseWithCovarianceStamped 'geometry_msgs.msg.PoseWithCovarianceStamped(header=m.header,pose=m.pose)' --import geometry_msgs" 
  />

  <node pkg="traversability_estimation" type="traversability_estimation_node" name="traversability_estimation" output="screen">
    <rosparam command="load" file="$(find sirius_mapping)/config/robot.yaml"/>
    <rosparam command="load" file="$(find sirius_mapping)/config/robot_footprint_parameter.yaml"/>
    <rosparam command="load" file="$(find sirius_mapping)/config/robot_filter_parameter.yaml"/>
  </node>

  <node pkg="sirius_mapping" type="gridmap_builder" name="gridmap_builder" output="screen">
    <param name="map_size" value="100"/>
    <remap from="~input_map" to="/traversability_estimation/traversability_map"/>
    <remap from="~output_global_map" to="/global_gridmap"/>
    <remap from="~output_local_map" to="/local_gridmap"/>
  </node>

  <node pkg="grid_map_visualization" type="grid_map_visualization" name="local_grid_map_conversion" output="screen">
    <rosparam command="load" file="$(find sirius_mapping)/config/local_gridmap_to_costmap.yaml" />
    <remap from="~traversability" to="/local_costmap"/>
  </node>
  
  <node pkg="map_server" type="map_server" name="globla_server" output="screen" args="$(find sirius_mapping)/config/global_costmap.yaml">
    <remap from="/map" to="/global_costmap"/>
  </node>
</launch>
