<launch>
  <node pkg="nodelet" type="nodelet" name="point_cloud_xyz" 
        args="load depth_image_proc/point_cloud_xyz pcl_manager" output="screen">
    <remap from="image_rect" to="/slam/depth"/>
    <remap from="camera_info" to="/slam/camera_info"/>
    <remap from="points" to="/front_camera/depth_registered/points_converted"/>
  </node>
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find sirius_mapping)/config/rosconsole.conf"/>

  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find sirius_mapping)/config/sirius_elevation_mapping.yaml"/>
    <rosparam command="load" file="$(find sirius_mapping)/config/postprocessor_pipeline.yaml"/>
  </node>

  <node 
    name="pose_remap"
    pkg="topic_tools" 
    type="transform" 
    args="/pose /elevation_mapping/pose geometry_msgs/PoseWithCovarianceStamped 'geometry_msgs.msg.PoseWithCovarianceStamped(header=m.header,pose=m.pose)' --import geometry_msgs" 
  />

  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/front_camera/depth_registered/points_converted"/>
    <remap from="~output" to="/front_camera/depth_registered/points_downsampled"/>
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 6.0
      filter_limit_negative: False
      leaf_size: 0.05 
    </rosparam>
  </node>
</launch>
